body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7710b;
    min-height: 200vh;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(25, 0, 255);
    color: rgb(0, 0, 0);
    padding: 15px 0;
    z-index: 1000;
}