body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7710b;
    min-height: 200vh;
    color: white;
}
header {
    background-color: #ead704;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(25, 0, 255);
    color: rgb(0, 0, 0);
    padding: 15px 0;
    z-index: 1000;
}
main {
    padding: 100px 20px 20px 20px;
    background-color: chartreuse;
}   
section {
    margin-bottom: 40px;
    background-color: rgb(234, 242, 6);
}
button {
    background-color: #0202ab;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
footer {
    background-color: #f008f0;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
p {
    background-color: aqua;
    padding: 10px;
    border-radius: 5px;
    color: black;
}