body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7710b;
    min-height: 200vh;
}
header {
    background-color: #ead704;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(184, 179, 226);
    color: rgb(0, 0, 0);
    padding: 15px 0;
    z-index: 1000;
}
main {
    padding: 100px 20px 20px 20px;
    background-color: chartreuse;
}   
section {
    margin-bottom: 40px;
    background-color: rgb(234, 242, 6);
}
p {
    line-height: 1.6;
    margin-bottom: 20px;
    background-color: aqua;
}